# Pandas Date and Time Functions Demo
Using `dummy_dates.csv`

### Load the Dataset

In [1]:

import pandas as pd

df = pd.read_csv("dummy_dates.csv")
df['Start_Date'] = pd.to_datetime(df['Start_Date'])
df['End_Date'] = pd.to_datetime(df['End_Date'])
df.head()

  Start_Date   End_Date
0 2023-01-31 2020-01-15
1 2023-12-30 2020-03-05
2 2022-05-10 2021-06-04
3 2023-07-18 2023-09-29
4 2023-02-04 2023-02-26

### Extracting Date Components

In [4]:

df['Start_Year'] = df['Start_Date'].dt.year
df['Start_Month'] = df['Start_Date'].dt.month
df['Start_Month_Name'] = df['Start_Date'].dt.month_name()
df['Start_Day'] = df['Start_Date'].dt.day
df['Start_DayOfWeek'] = df['Start_Date'].dt.dayofweek
df['Start_Weekday_Name'] = df['Start_Date'].dt.day_name()

df[['Start_Date', 'Start_Year', 'Start_Month', 
    'Start_Month_Name', 'Start_Day', 
    'Start_DayOfWeek', 'Start_Weekday_Name']].head()

,Start_Date,Start_Year,Start_Month,Start_Month_Name,Start_Day,Start_DayOfWeek,Start_Weekday_Name
0,2023-01-31,2023,1,January,31,1,Tuesday
1,2023-12-30,2023,12,December,30,5,Saturday
2,2022-05-10,2022,5,May,10,1,Tuesday
3,2023-07-18,2023,7,July,18,1,Tuesday
4,2023-02-04,2023,2,February,4,5,Saturday

### Calculate Duration Between Dates

In [6]:

df['Duration'] = df['End_Date'] - df['Start_Date']
df['Duration_Days'] = df['Duration'].dt.days
df[['Start_Date', 'End_Date', 'Duration', 'Duration_Days']].head()

  Start_Date   End_Date   Duration  Duration_Days
0 2023-01-31 2020-01-15 -1112 days          -1112
1 2023-12-30 2020-03-05 -1395 days          -1395
2 2022-05-10 2021-06-04  -340 days           -340
3 2023-07-18 2023-09-29    73 days             73
4 2023-02-04 2023-02-26    22 days             22

###  Filter Rows Based on Month or Year

In [8]:

# Example: Filter all dates in year 2022
df_2022 = df[df['Start_Date'].dt.year == 2022]
df_2022.head()

,Start_Date,End_Date,Start_Year,Start_Month,Start_Month_Name,Start_Day,Start_DayOfWeek,Start_Weekday_Name,Duration,Duration_Days
2,2022-05-10,2021-06-04,2022,5,May,10,1,Tuesday,-340 days,-340
5,2022-12-31,2021-10-09,2022,12,December,31,5,Saturday,-448 days,-448
6,2022-11-10,2022-12-22,2022,11,November,10,3,Thursday,42 days,42
14,2022-05-21,2022-10-14,2022,5,May,21,5,Saturday,146 days,146
17,2022-02-08,2020-05-14,2022,2,February,8,1,Tuesday,-635 days,-635

###  Sorting by Date

In [10]:

df_sorted = df.sort_values(by='Start_Date')
df_sorted.head()

,Start_Date,End_Date,Start_Year,Start_Month,Start_Month_Name,Start_Day,Start_DayOfWeek,Start_Weekday_Name,Duration,Duration_Days
53,2020-01-14,2023-04-09,2020,1,January,14,1,Tuesday,1181 days,1181
46,2020-01-21,2021-07-17,2020,1,January,21,1,Tuesday,543 days,543
28,2020-01-22,2021-12-26,2020,1,January,22,2,Wednesday,704 days,704
66,2020-02-04,2022-11-17,2020,2,February,4,1,Tuesday,1017 days,1017
11,2020-03-28,2020-10-15,2020,3,March,28,5,Saturday,201 days,201

###  Group By Month and Year

In [13]:

df.groupby(df['Start_Date'].dt.month_name())['Duration_Days'].mean().sort_values(ascending=False)

Start_Date
July         469.400000
January      328.300000
February     147.222222
June         141.200000
September    140.600000
April        124.714286
May           84.700000
November       2.250000
March          0.000000
December    -123.454545
October     -199.777778
August      -269.444444
Name: Duration_Days, dtype: float64

In [15]:
# Group by Year and Month
monthly_summary = df.groupby(['Start_Year', 'Start_Month_Name']).size().reset_index(name='Count')

# Sort the result by year and then by month
monthly_summary = monthly_summary.sort_values(['Start_Year', 'Start_Month_Name'])

# Display the result
print(monthly_summary)

    Start_Year Start_Month_Name  Count
0         2020            April      1
1         2020           August      2
2         2020         December      2
3         2020         February      1
4         2020          January      3
5         2020             July      4
6         2020             June      2
7         2020            March      1
8         2020              May      2
9         2020         November      2
10        2020          October      2
11        2020        September      2
12        2021            April      3
13        2021           August      1
14        2021         December      3
15        2021         February      1
16        2021          January      3
17        2021             July      3
18        2021            March      1
19        2021              May      3
20        2021         November      2
21        2021          October      1
22        2022            April      2
23        2022           August      4
24        2022         December      3
25        2022         February      4
26        2022          January      1
27        2022             June      1
28        2022            March      3
29        2022              May      4
30        2022         November      2
31        2022          October      3
32        2022        September      2
33        2023            April      1
34        2023           August      2
35        2023         December      3
36        2023         February      3
37        2023          January      3
38        2023             July      3
39        2023             June      2
40        2023            March      2
41        2023              May      1
42        2023         November      2
43        2023          October      3
44        2023        September      1